/* Wheather Informations */
#weather-content {
  margin-block-start: 30px;
}

#date-content {
  margin-block-start: 0px;
}

#date-content h3 {
  font-size: 45px;
}

#date-content h6 {
  margin-block-start: 6px;
  font-size: 20px;
}

/* Temperature */
#temperature h1 {
  font-size: 100px;
  font-weight: 200;
}

#temperature-type h6 {
  font-size: 30px;
  font-weight: 100;
  margin-block-start: 20px;
  margin-inline-start: 5px;
}
